:root {
    --ac-color: #ffffff;
    --bg-color: #000000;
    --grid-transition: 0.1s;
}

body {
    margin: 0;
}
::selection {
    background-color: var(--ac-color);
    color: var(--bg-color);
}
main {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10fr;
}
#frame {
    color: var(--ac-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#grid {
    transition: var(--grid-transition);
    cursor: crosshair;
    position: fixed;
    display: grid;
    gap: 1px;
    background-color: var(--bg-color);
}
.cell {
    border: 1px solid #787878;
}
.selectedCell {
    background-color: var(--ac-color);
}

.hideBox {
    position: fixed;
    background-color: var(--bg-color);
    overflow: hidden;
}
#top {
    top: 0;
    width: 100%;
    height: 165px;
    transition: var(--grid-transition);
}
#right {
    right: 0;
    width: 165px;
    height: calc(100vh - (165px * 2));
    transition: var(--grid-transition);
}
#bottom {
    bottom: 0;
    width: 100%;
    height: 165px;
    transition: var(--grid-transition);
}
#left {
    margin-left: 300px;
    left: 0;
    width: 165px;
    height: calc(100vh - (165px * 2));
    transition: var(--grid-transition);
}
#control {
    border: solid var(--ac-color);
    border-width: 0 1px 0 0;
    color: var(--ac-color);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 300px;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--bg-color);
    overflow-y: scroll;
}
#control * {
    font-family: "Courier New";
}
#controlPlaceholder {
    min-width: 300px;
}
h2 {
    font-style: italic;
    width: 100%;
    font-size: 15px;
    padding: 0 0 0 5px;
    margin: 0;
    background-color: var(--ac-color);
    color: var(--bg-color);
    box-sizing: border-box;
}
.col {
    width: 100%;
    display: grid;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.header-col {
    padding: 10px 0;
}
.col:not(:last-child) {
    border: solid var(--ac-color);
    border-width: 0 0 1px 0;
}
.col-2 {
    grid-template-columns: 1fr 1fr;
}
.col-3 {
    grid-template-columns: 70px 1fr 1fr;
}
span {
    cursor: default;
    align-content: center;
}
input {
    box-sizing: border-box;
    font-size: 20px;
    background-color: var(--bg-color);
    color: var(--ac-color);
    border: 1px solid var(--ac-color);
    outline: 0;
    border-radius: 3px;
    accent-color: var(--ac-color);
}
input[type="text"] {
    border-width: 0 0 1px 0;
    border-radius: 0;
}
input[type="range"] {
    cursor: pointer;
}
input[type="number"] {
    max-width: 70px;
}
input[type="color"] {
    width: 27px;
    height: 27px;
    cursor: pointer;
    margin: 0;
}
input[type="checkbox"] {
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin: 0;
}
select {
    background-color: var(--bg-color);
    color: var(--ac-color);
    outline: 0;
}
#colorNum {
    max-width: 148px;
}
#rubber {
    background: var(--bg-color) url(svg/rub-bg.svg);
}
#pen {
    background: var(--bg-color) url(svg/pen-bg.svg);
}
#rubber, #pen {
    background-size: 100%;
    background-position: center -15px;
}
.selected-tool {
    filter: invert(100%);
    border-color: var(--bg-color);
}
textarea {
    height: 100px;
    resize: none;
    outline: 0;
    background-color: var(--bg-color);
    color: var(--ac-color);
    border: 1px solid var(--ac-color);
}
button {
    cursor: pointer;
    font-size: 20px;
    background-color: var(--bg-color);
    color: var(--ac-color);
    border: 1px solid var(--ac-color);
    padding: 5px;
    transition: 0.3s;
    border-radius: 3px;
    position: relative;
    height: 35px;
}
button:hover {
    background-color: var(--ac-color);
    color: var(--bg-color);
    transform: scale(103%);
}